
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>Ders Ad</label>
        <input type="text" class="form-control" name="DERSAD" />
    </div>
    <br />
    <div>
        <button class="btn btn-info">Dersi Ekle</button>
    </div>

</form>

