
@{
    ViewBag.Title = "KulupEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>Kulüp Ad</label>
        <input type="text" class="form-control" name="KULUPAD" />
    </div>
    <br />
    <div>
        <label>Kulüp Kontenjan</label>
        <input type="number" class="form-control" name="KULUPKONTENJAN" />
    </div>
    <br />
    <div>
        <button class="btn btn-info">Kulüp Ekle</button>
    </div>

</form>
